*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  position: relative;
  }
.innercircle{
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 15px solid transparent;
  mix-blend-mode: overlay;
  
  animation: spin var(--duration-time) ease-in-out infinite;
}

.circle1{
  border-top-color:lightblue ;
  --duration-time:1s
}
.circle2{
  border-left-color:lightgreen ;
  --duration-time:1.2s
}
.circle3{
  border-right-color:lightcoral ;
  --duration-time:0.8s
}

.loading{
  opacity: 1;
  font-weight: bold;
  animation: load 1s ease-in-out infinite;
}
@keyframes spin{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}
@keyframes load{
  0%{
    opacity: 0;
    font-size: 24px;
    color: blue;
  }
  100%{
    opacity: 1;
    font-weight: 48px;
    color:greenyellow ;
  }
}





